<% if @user.guest %>
	<p class='center default_label'>To track and edit your contributions please bookmark <a href="toomanychips.com/guest/#{@user.url}", id='createGuestAccount' class="blue_label">this page</a> or  <a href="#" class="blue_label" id='createAccountButton'>create an account.</a></p>


<div class='hide' id='createAccountFromGuest' >
  <fieldset>
    <%= form_for @user do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <label>Your name</label>
        <%= f.text_field :name, :id => "inputName", :required => true, placeholder: "Name" %>
      </div>
    </div>
    <input type="hidden" id="url" name="user[url]" value=<%=@user.url%> />

    <div class="row">
      <div class="large-12 columns">
        <label>A unique password</label>
        <%= f.password_field :password, :id => "inputPassword", :required => true, placeholder: "Password" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Confirm your password</label>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
      </div>
    </div>
     <div class="row">
      <div class="large-12 columns">
    <%= f.submit "Sign up", class: 'event_done right' %>
    </div>
    </div>
    <% end %>
  </fieldset>
</div>

<%end%>
<h3 class='subheader'>
<span class='white'>Your Contributions</span>
</h3>
<div class='event-list border_top_white'>
	<%= render 'item' %>
</div>



