<div class='facebook-button'>
  <span><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%></span>
</div>

<div>
  <fieldset>
    <%= form_tag session_index_path, :class => "login"  do %>
    <%= email_field_tag :email, nil, placeholder: "Email" %><br>
    <%= password_field_tag :password, nil, placeholder: "Password" %><br><br>
    <%= submit_tag "Log In", class: "event_done right" %>
    <% end %>
  </fieldset>
</div>

<div>
  <fieldset>
    <% @user = User.new %>
    <%= form_for @user do |f| %>

    <%= f.text_field :name, :id => "inputName", :required => true, placeholder: "Name" %><br>

    <%= f.email_field :email, :id => "inputEmail", :required => true, placeholder: "Email" %><br>

    <%= f.password_field :password, :id => "inputPassword", :required => true, placeholder: "Password" %><br>

    <div>
     <span><%= f.submit "Sign up", class: 'event_done right' %></span>
    </div>
    <% end %>
  </fieldset>
</div>