<button class='default_button'>
  <%= link_to "Create A New Event",  new_event_path%>
</button>
<h3 class='subheader'><span class='white'>Your Upcoming Events</span></h3>
<div class='event-list dark'>

  <% if current_user.events.length >= 1 %>
  <table class='user-show default_table'>
    
    <tbody>
      <% current_user.events.each do |event| %>
      <tr> <td> <%= link_to event.name.titleize, event_path(event) %></td><td> <%= event.date %></td>
        <td>www.toomanychips.com/<%= event.url %> </td> <td><%= link_to 'Edit |', edit_event_path(event)%>
        <%= link_to 'View Guests', contributions_path(event)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%else%>

  <h3 class='subheader center'> <span class='white'>You don't have any upcoming events.</span></h3>
  <% end %>


 <h3 class="subheader"><span class='white'>Your Past Events</span></h3>

 <div class='notifcations large-12 columns border_top_white'>
   <h3 class="subheader center"><span class='white'>You don't have any past events.</span></h3>
 </div>
