<div class="full-width blue">
	<div class="row">
		<div class='large-12 columns panel'>
			<h4> 
				Welcome, <%= current_user.name.titleize %>! 
			</h4>
			<div class="event_button">
				<a href="#eventform" class="btn btn-success"> Create Event </a>
			</div>

			<h4> Upcoming Events: </h4>
	<% current_user.events.each do |event| %>
		<% if event.upcoming? %>
			<ul>                    
					<li>
						<%= link_to event.name.titleize, event_path(event) %>: <%= event.date %>
					</li>
			</ul>
		<%else%>

<h2> Past Events: </h2>
	<%= link_to event.name.titleize, event_path(event) %>: <%= event.date %>
		<% end %>
	<% end %>

		</div>				
	</div>
</div>











</div>
<%= render 'events/create_event_form' %>
</div>





