<div id='eventform' >
  <%= form_for(@event) do |e| %>
  <div class='main-details'>
    <div class='row'>
      <div class='large-8 columns'>
        <%= e.text_field :name, :class => "name", :placeholder => "Title", :required => true%>
      </div>
      <div class='large-4 columns'>
        <%= e.text_field :host_name, :class => "host", :placeholder => "Host's Name", :required => true%>
      </div>
    </div> 
    <div class='row'>
      <div class='large-4 columns'>
        <%= e.text_field :event_type, :class => "type", :placeholder => "Event Type"%>
      </div> 
      <div class='large-4 columns'>
        <%= e.text_field :date, :class => "date", :placeholder => "Date", :required => true %>
      </div>
      <div class='large-2 columns'>
        <%= e.text_field :start_time, :class => "start_time", :placeholder => "Start Time" %>
      </div>
      <div class='large-2 columns'>
        <%= e.text_field :end_time, :class => "end_time", :placeholder => "End Time" %>
      </div>
    </div>
    <div class='row'>
      <div class='large-4 columns'>
        <%= e.text_field :location, :class => "Location Name", :placeholder => "Location Name"%>
      </div>
      <div class='large-3 columns'>
        <%= e.text_field :street_address, :class => "street address", :placeholder => "Street Address" %>
      </div>
      <div class='large-2 columns'>
        <%= e.text_field :city, :class => "city", :placeholder => "City" %>
      </div>
      <div class='large-1 columns'>
        <%= e.text_field :state, :class => "state", :placeholder => "State" %>
      </div>
      <div class='large-2 columns'>
        <%= e.text_field :zip, :class => "zip", :placeholder => "zip code" %>
      </div>
    </div>
    <div class='row'>
      <div class='large-12 columns'>
        <%= e.text_area :description, :class => "description", :placeholder => "Description"%>
      </div>
    </div>
  </div>

  <%= render 'add_image', e: e %>


  <% end %>
</div>

