 <h3 class="subheader"><span class='white'>Create a New Event</span></h3>
<div id='eventform' >
 
  <%= form_for(@event) do |e| %>
  <div class='row'>
    <div class='large-12 columns'>
      <%= e.text_field :name, :class => "name", :placeholder => "Title", :required => true%>
    </div>
  </div> 
  <div class='row'>
    <div class='large-7 columns'>
      <%= e.text_field :location, :class => "location", :placeholder => "Location", :required => true %>
    </div>
    <div class='large-5 columns'>
      <%= e.text_field :date, :class => "date", :placeholder => "Date", :required => true %>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <%= e.text_area :description, :class => "description", :placeholder => "Description"%>
    </div>
  </div>
  
  <div class="row">
    <div class='form-wrap large-4 centered columns'>
      <%= link_to_add_fields "Add Item", e, :event_items %>
    </div>  
    <div class='large-4 centered columns'>
      <%= e.submit 'Create!', :class => 'event_done' %><br><br>
    </div>
  </div>
  <div class='row'>
    <ul class='event_items small-block-grid-2'>
      <%= e.fields_for :event_items do |ei| %>    
      <%= render 'event_items/create_event_items_form', f: ei %>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>


