<%= form_for(@user) do |g| %> 
<% @event.event_items.each do |ei| %> 
<% if ei.needed? %>
<tr>
  <td> <%= ei.item.name %> </td>
  <td> <%= ei.quantity_still_needed %> </td>
  <td> <%= ei.description %> </td>
  <td>
    <%= g.fields_for :assigned_items do |ai| %>
    <%= ai.hidden_field :event_item_id, :value => ei.id %> 
    <%= ai.select :quantity_provided, 0..ei.
    quantity_still_needed, {}, :class => "#{ei.item.name}" %>
    <% end %>
  </td>
</tr>
</tbody>
<% end %>
<% end %>
</table>
<div "bringin_items">
  <%= g.text_field :name, :placeholder =>"Your Name", :required => true %>
  <div class="input-append">
    <%= g.hidden_field :guest, :value => true %>
    <div class="input-append">
      <%= g.email_field :email, :placeholder => "Your Email", :required => true %>
      <%= g.submit "Bring Items", :class=>"event_done" %>
    </div>
  </div>
  <% end %>
