<%= form_for(@assigned_item) do |g| %> 
<table class="">
  <thead>
    <tr>
      <th>Name</th>
      <th>Needed</th>
      <th>Description</th>
      <th>Select Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @event.event_items.each do |ei| %> 
  <% if ei.needed? %>
      <tr>
        <td> <%= ei.item.name %> </td>
        <td> <%= ei.quantity_still_needed %> </td>
        <td> <%= ei.description %> </td>
        <td>
          <%= g.fields_for :assigned_items do |ai| %>
            <%= ai.hidden_field :event_item_id, :value => ei.id %> 
            <%= ai.select :quantity_provided, 0..ei.
              quantity_still_needed, {}, :class => "#{ei.item.name}" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>

</table>


<div "bringin_items">
  <% unless current_user %>
    <%= g.text_field :name, :placeholder =>"Your Name", :required => true %>
    <div class="input-append">
    <%= g.email_field :email, :placeholder => "Your Email", :required => true %>
  <% end %>
  <%= g.submit "Bring Items", :class=>"btn" %>
</div>
</div>
<% end %>

