<div class='row '>
  <h3 class='subheader'><span class='grey'>Choose A Header Image </span></h3>
  <div class='image-upload border-top'>
    <div class='large-3 columns'>
      <label>From the Web</label>
      <%= form_for @event do |f| %>
      <%= f.text_field :remote_image_url, :placeholder => "Image URL" %> 
      <%= f.submit "Upload Image" %>
      <%end%>
    </div> 

    <label>From Your Computer</label>
    <%= form_for @event do |f| %>
    <%= f.file_field :image, :class => "image-field" %>
    <%= f.submit "Upload Image" %>
    <%end%>
  </div>
</div>

