<div id='eventform' class="row ">
  <h3><span class='blue'>Create a New Event</span></h3>
  <div class="large-12 centered columns">
    <%= form_for(@event) do |e| %>
    <div class='large-12 columns'>
      <%= e.text_field :name, :class => "name", :placeholder => "Title", :required => true%>
    </div>
    <div class='large-7 columns'>
      <%= e.text_field :location, :class => "location", :placeholder => "Location", :required => true %>
    </div>
    <div class='large-5 columns'>
      <%= e.text_field :date, :class => "date", :placeholder => "Date", :required => true %>
    </div>
    <div class='large-12 columns'>
      <%= e.text_area :description, :class => "description", :placeholder => "Description"%>
    </div>
  </div>
</div>





<div class='row large-12 columns '>
  <div class='form-wrap '>
  <%= link_to_add_fields "Add Item", e, :event_items %>
  <%= e.submit 'Create!', :class => 'event_done btn btn-success' %><br><br>
  <ul class='event_items large-block-grid-3'>
    <%= e.fields_for :event_items do |ei| %>    
    <%= render 'event_items/create_event_items_form', f: ei %>
    <% end %>  
  </ul>
</div>
</div>

<% end %>

