<div class='large-12 columns'>
	<div class='row'>
		<a href="#" class="medium success button dropdown" data-dropdown="dropdown1">
			Guest Contributions</a>


			<ul id="dropdown1" class="f-dropdown" data-dropdown-content>
				<li><a tabindex="-1" href="#all">All Items</a></li>
				<% @event.guests.each do |guest| %>
				<li><a tabindex="-1" href="#guest<%=guest.id%>"><%= guest.name %></a></li>  
				<%end%>
			</ul>


			<div class='guest-items'>
				<div class='active' id="all" >
					<% @event.event_items.each do |item| %>
					<span><%= item.item.name %>: <%= item.quantity_assigned %>/<%= item.quantity_needed %> <span>
						<div class="progress large-6">
							<span class="meter" style="width: <%=item.pecentage%>%"></span>
						</div>
					
		
				<% end %>
			</div>
			</div>

			<% @event.guests.each do |guest| %>
			<div class='hidden' id="guest<%=guest.id%>" >
				<ul>
					<li> Name: <%= guest.name %> Email: <%= guest.email %> </li>
					<% guest.contributions(@event.id).each do |ai| %>
					<li> Item: <%= ai.event_item.item.name %> Quanity: <%= ai.quantity_provided %> </li>
					<% end %>
				</ul>
			</div>
			<%end%>
		</div>
	</div>


