
<div class='large-12 columns event-header'>
  <% if @event.image? %>
  <%= image_tag @event.image.header %> 
  <h1 class='event-image-title'><span class='white'><%= @event.name %></span></h1>
  <% else %>
  <h1 class='event-title'><%= @event.name %></h1>
  <%end%>
</div>  

<div class='row '>
  <div class="large-12 columns event-info large-centered ">
    <strong>Hosted by: </strong>
    <%= @event.user.name%><br>
    <strong>Date: </strong>
    <%= @event.date.strftime("%A, %B #{@event.date.day.ordinalize} %Y") %><br>
    <strong>Location: </strong>
    <%= @event.location %>
  </div>  


  <div class='large-12 guest-view columns'>
    <p><%= @event.description %></p>
    <div class='row'>
      <%= render 'guest_form', :guest => @guest %>
    </div>
  </div>
</div>