<div class='large-12 columns event-header'>
  <% if @event.image? %>
  <%= image_tag @event.image(:header) %> 
  <h1 class='event-image-title'><span class='white'><%= @event.name %></span></h1>
  <% else %>
  <h1 class='event-title'><%= @event.name %></h1>
  <%end%>
</div>  

<div class='row '>
  <div class="large-12 columns event-info">
    <ul class='no-style'>
      <li><strong>Hosted by: </strong><%= @event.host_name%></li>
      <li><strong>Date: </strong><%= @event.date %></li>
      <li><strong>Location: </strong><%= @event.location %></li>
      <li><%= @event.street_address %></li>
      <li><%= @event.city %> <%= @event.state %>, <%= @event.zip %></li>
      <li><strong>Description: </strong><%= @event.description %></li>
    </ul>
  </div>  
  <h3 class='subheader'>Sign up and Contribute</h3>
  <div class='border-top'>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>#</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% unless current_user %>
      <%= render 'guest_form' %>
      <%else%>
      <%= render 'assigned_items_form'%>
      <%end%>
      </div>
</div>
