<div class='large-12 columns event-header'>
  <% if @event.image? %>
  <%= image_tag @event.image(:header) %> 
  <h1 class='event-image-title'><span class='white'><%= @event.name %></span></h1>
  <% else %>
  <h1 class='event-title'><%= @event.name %></h1>
  <%end%>
</div>  

<div class='row '>
  <div class="large-12 columns event-info">
    <ul class='no-style'>
      <li><strong>Hosted by: </strong><%= @event.host_name.titleize  %></li>
      <li><strong>Date: </strong><%= @event.date %> 
      <strong> </strong><%= @event.start_time.strftime('%l:%M%P') if @event.start_time%> 
      <%unless @event.end_time%>
       until
      <%= @event.end_time.strftime('%l:%M%P') %></li>
      <%end%>
      <li><strong></strong><%= @event.location.titleize   %></li>
      <li><%= @event.street_address.titleize  %></li>
      <li><%= @event.city.titleize  %> <%= @event.state.titleize   %>, <%= @event.zip %></li>
      <br>
      <li> </strong><%= @event.description %></li>
    </ul>
  </div>  
  <h3 class='subheader'>Contribute</h3>
  <div class='border-top'>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% unless current_user %>
      <%= render 'guest_form' %>
      <%else%>
      
      <%= render 'assigned_items_form'%>
      <%end%>
      </div>
</div>
