<div class='large-12 columns event-header'>
  <% if @event.image? %>
  <%= image_tag @event.image.header %> 
  <h1 class='event-image-title'><span class='white'><%= @event.name %></span></h1>
  <% else %>
  <h1 class='event-title'><%= @event.name %></h1>
  <%end%>
</div>  

<div class='row '>
  <div class="large-12 columns event-info">
    <ul class='location'>
    <li><strong>Hosted by: </strong>
    <%= @event.host_name%></li>
    <li><strong>Date: </strong>
    <%= @event.date.strftime("%A, %B #{@event.date.day.ordinalize} %Y") %></li>
    <li><strong>Location: </strong><%= @event.location %></li>
    <li><%= @event.street_address %></li>
    <li><%= @event.city %> <%= @event.state %>, <%= @event.zip %></li>
    <li><strong>Description: </strong><%= @event.description %></li>
    </ul>
  </div>  
  <div class='large-12 guest-view columns'>
    <div class='row'>
      <%= render 'guest_form' %>
    </div>
  </div>
</div>