<div class='large-12 columns'>
<div class="row invite">
        <h2>You've been invited to: <span class='green'><%= @event.name %></span></h2>
        <span><%= @event.description %></span>
        <h3>on: <span class='blue'><%= @event.date %></span></h3> 

        <h3>at: <span class='pink'><%= @event.location %> </span></h3>


  
  <div class='event_items'>
  
      <div class="guest_items"></div>
        <%= render 'guest_form', :guest => @guest %>
      </div>
    </div>
 
</div>

</div>