<li class="event_item ">
      <%= f.fields_for :item do |i| %>
    <div class='large-8 columns'>
      <%= i.text_field :name, :class => "item_name", :placeholder => "Name" %>
    </div>
    <% end %>
    <div class='large-4 columns'>
      <%= f.number_field :quantity_needed, :class => "item_quantity_needed", :placeholder => "Amount" %>
    </div>
    <div class='large-12 columns'>
      <%= f.text_area :description, :class => "item_description", :placeholder => "Description" %>
    </div>
      <%= f.hidden_field :_destroy %>
    <div class='large-3 columns'>
      <%= link_to "Remove", '#', class: "remove_fields" %><br><br>
    </div>
 </li>
