<!DOCTYPE html>
<html>
  <head>
    <title>TooManyChips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

     <link href='http://fonts.googleapis.com/css?family=Sniglet:800' rel='stylesheet' type='text/css'>
  </head>
  <body>

  	<%= render "layouts/header" %>
     
    <%= yield %>
    <%= javascript_include_tag "application" %>

  <div id="myModal" class="reveal-modal medium">
  <%= render 'users/login_form' %>
</div>
  </body>
</html>
